﻿@model  MB9.CMS.Web.Areas.AdminCMS.Models.PageViewModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Header = "Edit Page :";
    ViewBag.Subheading = Model.Def.Name + Model.Language;
}

<div class="container" style="width:100%">
    <div>
        <a href="@VirtualPathUtility.ToAbsolute("~/AdminCMS/Document/Index")" class="btn btn-primary btn-xs" style="float:left"> Back </a>
        <br />
        <br />
        <br />
    </div>

    <div class="row">

        @using (Html.BeginForm("EditPage", "Document", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.Partial("EditPagePartial", Model)

            <br />
            <a class="glyphicon glyphicon-expand" href="@Url.Action("Index", "PageView", new { area ="", lang = Model.Language, url = Model.Page.SeoName})" target="_blank"> Preview</a>
            <hr />
            <br />
            @Html.Partial("EditDocPartPartial", Model)
            <br />
            <br />
            <hr />
            <button type="submit" class="btn col-sm-2" >Save</button>
            
        }

    </div>
    <br />
    <br />

</div>
