﻿@model  MB9.CMS.Web.Areas.AdminCMS.Models.DocIndexViewModel

@*@{
    
    ViewBag.Title = "Pages";
    ViewBag.Header = "Page List";
    var count = 1;
}*@

@*<div class="form-group">

    <div class="col-sm-9" style="width:100%">
        <div class="container-fluid">

            <!--Page Create Template and Language selector-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Create Page </h3>
                </div>
                <div class="panel-body">
                    @Html.DropDownList("DocTypeSelect", Model.allDocs, "Select Template", new { @class = "dropdown btn btn-default btn-sm" })

                    @Html.DropDownList("LangSelect", Model.allLangs, "Select Language", new { @class = "dropdown btn btn-default btn-sm" })

                    <div id="CreatePage" class="btn btn-primary btn-sm">Create</div>
                    
                    <div id="NullWarning" class="panel panel-danger" style="display: none; margin-top: 10px;">
                        <div class=" panel-heading">
                            Please Select the Document Type and Language
                    </div>
                    </div>
                </div>
            </div>

            <!-- DataTable -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Pages
                </div>
                <div class="panel-body">
                    <table id="dataTable_Pages" class="table table-striped table-hover display compact">
                        <thead>
                            <tr>
                                <th class="col-sm-1">Sl.No</th>
                                <th class="col-sm-3">Page Name</th>
                                <th class="col-sm-3">URL</th>
                                <th class="col-sm-2">Active</th>
                                <th class="col-sm-2">Edit</th>
                                <th colspan="2" class="col-sm-1">Preview</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.allPages)
                            {

                                <tr>
                                    <td>@count</td>
                                    <td>@item.Title</td>
                                    <td>@item.SeoName</td>
                                    <td>
                                        @if (item.Active)
                                        {
                                            @Html.Label(" ", new { @class = "glyphicon glyphicon-ok", style = "padding-left: 10%;" })
                                        }
                                        else 
                                        {
                                            @Html.Label(" ", new { @class = "glyphicon glyphicon-remove", style = "padding-left: 10%;" })
                                        }
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-xs">
                                            @Html.ActionLink("ENG", "EditPage", new { @id = item.ID, lang = "EN" }, new { @class = "btn btn-default btn-xs" })
                                            @Html.ActionLink("CHN", "EditPage", new { @id = item.ID, lang = "ZH" }, new { @class = "btn btn-default btn-xs" })
                                        </div>
                                    </td>
                                    <td>
                                        <a class="glyphicon glyphicon-expand" href="@Url.Action("Index", "PageView", new { area ="", lang = "EN", url = item.SeoName})" target="_blank"></a>
                                    </td>
                                    <td>
                                        <a class="glyphicon glyphicon-expand" href="@Url.Action("Index", "PageView", new { area ="", lang = "ZH", url = item.SeoName})" target="_blank"></a>
                                    </td>
                                </tr>

                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $('a.mainmenu').removeClass("active");
        $('#menu_pages').addClass("active");
        $('#menu_allpages').addClass("active");

        $('#dataTable_Pages').dataTable(
            {
                "ordering": false,
                "paging": true,
                "pagingType": "full_numbers",
                "stateSave": true
            });
    });

    $('#CreatePage').click(function () {

        var selectedType = $('#DocTypeSelect').val();
        var selectedLang = $('#LangSelect').val();
        

        if (selectedType != "" || selectedLang != "") {
            $('#NullWarning').hide();
            location.href = '@(Url.Action("Create", "Document"))?doctype='+selectedType+'&pageCategory=page&lang='+selectedLang;
        }
        else {
            $('#NullWarning').show();
        }

    });*@

</script>