﻿@model MB9.CMS.Web.Areas.AdminMenu.Models.MenuFormModel

<form id="menuForm">


    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ParentId)
    @Html.HiddenFor(model => model.Language, new {id="lang_id" })

    <div class="control-group" style="margin-top:15px">
        @Html.Label("Name")
        <span style="float:right;margin-left:1%">
            @Html.TextBoxFor(model => model.Name, new {id="menu_name" })

        </span>
    </div>

    <div class="control-group" style="margin-top:15px">
        <span>@Html.Label("Tooltip")</span>
        <span style="float:right;margin-left:1%">
            @Html.TextBoxFor(model => model.Tooltip)
        </span>
    </div>
    <div class="control-group" style="margin-top:15px">
        <span> @Html.Label("Link")</span>
        <span style="float:right;margin-left:1%">
            @Html.TextBoxFor(model => model.Link)
        </span>
    </div>

    <div class="control-group" style="margin-top:15px; ">
        <span style="float:right;margin-left:0;text-align:left;min-width:55%">@Html.CheckBoxFor(model => model.IsActive) @Html.Label("Active")
            @{
                if (!(Model.ID == 0))
                {
                 
            <a href="#" class="create_node" style="color:green;font-weight:700;margin-left:5%" data-id="@Model.ID">New Child</a>
            }
            }
        </span>
        <br />
       
    </div>
    <div class="control-group" style="margin-top:15px; margin-left:45%">
        @{

            if (Model.ID == 0)
            {

                <span><a type="button" class="  btn btn-primary btn-xs add_menu" href="#" style="width:45%">Create</a></span>
            }
            else
            {

                <span><a type="button" class="  btn btn-primary btn-xs add_menu" href="#" style="width:45%">Update</a></span>
            }
            if (Model.ID != 0 || (Model.ID == 0 && Model.ParentId == 0))
            {

                <span><a type="button" class=" btn btn-default btn-xs collapse_form" href="#" style="width:45%">Close</a></span>
            }
            else if (Model.ID == 0)
            {
                <span><a type="button" class=" btn btn-default btn-xs node" href="#" style="width:45%" data-id="@Model.ParentId" onclick="formloader(@Model.ParentId)">Back</a></span>
            }
        }
    </div>


</form>

<style>
    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

    .control-group span a {
        text-decoration: none;
    }



    a:visited {
        text-decoration: none;
    }
</style>
