﻿@model MB9.CMS.Core.CMS.ViewModel.MenuView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayMenuBar</title>
</head>
<body>
    <div>
         @Html.Partial("_displayMenu",Model)
    </div>
</body>
</html>
