﻿@model MB9.CMS.Web.Areas.AdminMenu.Models.MenuViewLanguageListModelView

@{

    ViewBag.Title = "Menu";
    ViewBag.Header = "Menu List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-sm-9" style="width:100%">
        <div class="row">

            <div class="container-fluid">

                <!--Page Create Template and Language selector-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Load Menu </h3>
                    </div>
                    <div class="panel-body">

                        @Html.Label("Select Language");
                        @Html.DropDownList("selectedLang", @Model.Languages, new { @class = "dropdown btn btn-default btn-sm", id = "selectedLang" })

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Menu </h3>
                    </div>
                    <div class="panel-body row">
                        <div class="col-sm-5">
                            <ul>
                                @foreach (var element in Model.MenuName)
                                {

                                    <li class="header division" id="menu_itm_@element.id" data-id="@element.id">
                                        <a href="#">
                                            @{
                                    if (element.hasChildren)
                                    {
                                        <span  id="sign">&#9658;</span>
                                    }
                                    else
                                    {
                                        <span class="" id="sign"></span>
                                    }
                                            }
                                            <span style="align-items:center;padding-left:3px;"> @element.name</span>
                                        </a>
                                    </li>
                                }
                               

                            </ul>
                            <div style="margin-left:10%"><a href="#" class="create_node" style="color:green;font-weight:700" data-id="0">New Parent</a></div>
                        </div>

                        <div class="col-sm-4 col-sm-offset-1 form_holder">

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
</body>
</html>

<script>
    $(document).on('click', '.division', function () {
        var id = $(this).data("id");
        if ($('#menu_itm_' + id).is(".open") && $('#menu_itm_' + id).children('a').children('#sign').text().length>0) {
            $('#menu_itm_' + id).siblings('#child_menu_' + id).slideUp("100", function () {
                $('#menu_itm_' + id).children('a ').children('#sign').remove();
                $('#menu_itm_' + id).children('a ').prepend('<span id="sign">&#9658;</span>');
                $('#menu_itm_' + id).siblings('#child_menu_' + id).remove();
                $('#menu_itm_' + id).removeClass("open");
            });
        }
        else if ($('#menu_itm_' + id).children('a').children('#sign').text().length > 0) {
            var data = {
                "id": $(this).data("id")
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetChildren")',
                data: data,
                datatype: "json",
                success: function (data) {
                    if (data.length > 0) {

                        var line = '<li id="child_menu_' + id + '"> <ul>';
                        for (var i = 0; i < data.length; i++) {

                            line = line + ' <li class="header division" id="menu_itm_' + data[i].id + '" data-id="' + data[i].id + '">';
                            if (data[i].hasChildren) {
                                line = line + '<a href="#"><span id="sign">&#9658;</span><span style="align-items:center;padding-left:3px;">' + data[i].name + '</span></li></a>';
                            }

                            else {
                                line = line + '<a href="#"><span class="" id="sign"></span><span style="align-items:center;padding-left:3px;">' + data[i].name + '</span></li></a>';
                            }


                        }
                        line = line + "</ul></li>";
                        $('#menu_itm_' + id).after(line);

                    }

                    $('#menu_itm_' + id).children('a ').children('#sign').remove();
                    $('#menu_itm_' + id).children('a ').prepend('<span id="sign">&#9660;</span>');
                    $('#menu_itm_' + id).addClass("open");
                    $('#menu_itm_' + id).siblings('#child_menu_' + id).hide();
                    $('#menu_itm_' + id).siblings('#child_menu_' + id).slideDown("100");

                }
            });
        }

    });

    $(document).on('click', '.header', function () {

        var ids = $(this).data("id");

        $(".form_holder").load('@Url.Action("FormLoader")' + '?id=' + ids)


    });

    $(document).on('click', '.create_node', function () {

        var ids = $(this).data("id");

        $(".form_holder").html("");

        $(".form_holder").load('@Url.Action("FormLoader")' + '?id=0&p_id=' + ids)


    });

    $(document).on('click', '.collapse_form', function () {


        $(".form_holder").empty();
    });

    $(document).on('click', '.add_menu', function () {

        $('#lang_id').val($('#selectedLang').val());
        var lang = $('#selectedLang').val();
        var valid = true;
        if ($("#menu_name").val().length == 0) {
            document.getElementById("menu_name").style.border = "1px solid red";
            valid = valid && false;
        }


        if (valid) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateUpdate")',
                data: $('#menuForm').serialize(),
                datatype: "json",
                success: function (data) {
                    if ((data.success == "saved") || (data.success == "updated")) {
                        //  $(document).load('@Url.Action("Index")?language=' + lang);
                        location.replace('@Url.Action("Index")?language=' + lang);

                    }


                }

            });
        }
    });



    $(document).on('change', '#selectedLang', function () {

        var lang = $('#selectedLang').val();
        location.replace('@Url.Action("Index")?language=' + lang);
    });


</script>


<style>
    .division {
        border-radius: 5px;
        border: 2px solid #DDD;
        padding-top: 2px;
        padding-left: 3px;
        background: #f5f5f5;
        width: 215px;
        height: 30px;
        color: #428bca;
        margin-top: 4px;
    }

    li {
        list-style: none;
        overflow:hidden;
    }

    .header:hover {
        background: #EEE;
        color: black;
    }

    .header a {
        text-decoration: none;
    }

    ul li ul {
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .create_node:hover {
        text-decoration: none;
    }

    .create_node:visited {
        text-decoration: none;
    }

    .create_node:active {
        text-decoration: none;
    }

    .create_node:focus {
        text-decoration: none;
    }

     .create_node {
        text-decoration: none;
    }
</style>


