﻿@model IEnumerable<System.Web.Mvc.SelectListItem>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div class="col-sm-9" style="width:100% ; ">
        <div class="row">

            <div class="container-fluid">

                <!--Page Create Template and Language selector-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Load Menu </h3>
                    </div>
                    <div class="panel-body">

                        @Html.Label("Select Language")
                        @Html.DropDownList("selectedLang", @Model, new { @class = "dropdown btn btn-default btn-sm", id = "selectedLang" })

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Menu </h3>
                    </div>
                    <div class="panel-body row">
                        <div class="col-sm-7 tree_holder" style="border:hidden !important">
                            @*@Html.Partial("_menuTreeDisplay", Model.MenuTree)*@
                        </div>

                        <div class=" form_holder" style="width:315px;float:right;margin-right:10%;margin-top:5%;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script>

    $(document).ready(function () {
        $('#lang_id').val($('#selectedLang').val());
        var lang = $('#selectedLang').val();
        $(".tree_holder").load('@Url.Action("TreeLoader")' + '?language=' + lang);
    });

    $('.parent_li.node').click(function () {
        var ids = $(this).data("id");

        $(".form_holder").load('@Url.Action("FormLoader")' + '?id=' + ids)
    })

     function formloader(id) {
        //var ids = $(this).data("id");

        $(".form_holder").load('@Url.Action("FormLoader")' + '?id=' + id)


    };

    $(document).on('click', '.create_node', function () {

        var ids = $(this).data("id");

        $(".form_holder").html("");

        $(".form_holder").load('@Url.Action("FormLoader")' + '?id=0&p_id=' + ids)


    });

    $(document).on('click', '.collapse_form', function () {

        $("span").removeClass("selected_menu");
        $(".form_holder").empty();
    });

    $(document).on('click', '.add_menu', function () {

        $('#lang_id').val($('#selectedLang').val());
        var lang = $('#selectedLang').val();
        var valid = true;
        if ($("#menu_name").val().length == 0) {
            document.getElementById("menu_name").style.border = "1px solid red";
            valid = valid && false;
        }


        if (valid) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateUpdate")',
                data: $('#menuForm').serialize(),
                datatype: "json",
                success: function (data) {
                    if ((data.success == "saved") || (data.success == "updated")) {

                        $(".tree_holder").html("");
                        $(".tree_holder").load('@Url.Action("TreeLoader")' + '?language=' + lang);
                        $(".form_holder").html("");

                    }


                }

            });
        }
    });

    $(document).on('change', '#selectedLang', function () {

        var lang = $('#selectedLang').val();
        location.replace('@Url.Action("Index")?language=' + lang);
    });

   
</script>