﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/themes/theme2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Jquery Ui Bootstrap-->
    <link href="~/Content/Plugins/uibootsrap/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link href="~/Content/Plugins/uibootsrap/jquery.ui.1.10.0.ie.css" rel="stylesheet" />
    @*<link href="~/Content/themes/theme2/css/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <link href="~/Content/themes/theme2/css/custom-theme/jquery-ui-1.10.3.theme.css" rel="stylesheet">
    <link href="~/Content/themes/theme2/css/custom-theme/jquery.ui.1.10.3.ie.css" rel="stylesheet">*@

    <!-- Custom CSS -->
    <link href="~/Content/themes/theme2/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/themes/theme2/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- ElFinder -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/plugins/elfinder/css/elfinder.min.2.1.css" />
    <link href="~/Content/Site-MB9.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https: //oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https: //oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery Version 1.11.0 -->
    <script src="@Url.Content("~/Content/themes/theme2/js/jquery-1.11.0.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/themes/theme2/js/bootstrap.min.js")"></script>
    <!-- jQuery UI Version 1.11.1 -->
    <script src="@Url.Content("~/Content/themes/theme2/js/jquery-ui.js")"></script>
    <!-- El FInder -->
    <script type="text/javascript" src="@Url.Content("~/Content/Plugins/elfinder/js/elfinder.min.2.1.js")"></script>
    <script src="@Url.Content("~/Content/cms/cms.js")"></script>



</head>

<body>
    <div>
        <div id="elfinder"></div>
    </div>
    <script type="text/javascript">
        var FileBrowserDialogue = {
            init: function () {
                // Here goes your code for setting your custom things onLoad.
            },
            mySubmit: function (URL) {
                // pass selected file path to TinyMCE
                parent.tinymce.activeEditor.windowManager.getParams().setUrl(URL);

                // close popup window
                parent.tinymce.activeEditor.windowManager.close();
            }
        }

        $().ready(function () {
            var options = $.extend({}, getDefaultElFinderOptions(),
                {
                    url: '@Url.Action("FilePicker", "Files")',
                    getFileCallback: function (file) {
                        FileBrowserDialogue.mySubmit(file);
                    }
                }
            );

            $('#elfinder').elfinder(options).elfinder('instance');
        });
    </script>

</body>

</html>

