﻿@model  MB9.CMS.Web.Areas.AdminEMS.Models.EventPageViewModel

<div>
    <div class="row">
        @Html.Hidden("EventType", Model.events.EventType)
        @Html.Hidden("eventID", Model.events.ID)
    </div>

    <div class="form-group" style="width:100%">
        <div class="well" style="padding-right:25px; padding-left:5px">
            <legend> Event Settings </legend>
           
            <div class="row">
                @Html.Label("Event Title", new { @class = "col-xs-2" })
                @Html.TextBox("Title", Model.events.Title, new { @class = "col-xs-5" })
                @Html.ValidationMessageFor(m => m.events.Title)

                @Html.Label("Max Attendees", new { @class = "col-xs-2", style = "text-align:center" })
                <div class="col-xs-1">
                    @Html.TextBox("MaxAttendees", Model.events.MaxAttendees, new { id = "maxCount" })
                </div>
                @Html.ValidationMessageFor(m => m.events.MaxAttendees)
            </div>

            <br />

            <div class="row">
                @Html.Label("Seo Name", new { @class = "col-xs-2" })
                @Html.TextBox("SeoName", Model.events.SeoName, new { @class = "col-xs-2" })
                @Html.ValidationMessageFor(m => m.events.SeoName)

                @Html.Label("Enable Event", new { @class = "col-xs-2" })
                @Html.CheckBox("EventActiveCheckbox", Model.events.Active, new { @class = "col-xs-1" })

                @Html.Label("Auto-Include Registrants to Alumni", new { @class = "col-xs-4 control-label", style = "text-align:center" })
                @Html.CheckBox("AlumniAutoInclusionCheckbox", Model.events.AutoInclusion, new { @class = "col-xs-1" })

            </div>

            <br />

            <div class="row">
                @Html.Label("Start Date", new { @class = "col-xs-2", style = "text-align:center" })
                @Html.TextBox("StartDate", Model.events.EventStartDate, new { @id = "eveStart", @class = "col-xs-2" })
                @Html.ValidationMessageFor(m => m.events.EventStartDate)

                @Html.Label("End Date", new { @class = "col-xs-2", style = "text-align:center" })
                @Html.TextBox("EndDate", Model.events.EventEndDate, new { @id = "eveEnd", @class = "col-xs-2" })
                @Html.ValidationMessageFor(m => m.events.EventEndDate)

                <div class="col-xs-4"></div>

            </div>

            <br />

            <div class="row">
                @Html.Label("Reg Start Date", new { @class = "col-xs-2", style = "text-align:center" })
                @Html.TextBox("RegStartDate", Model.events.RegStartDate, new { @id = "regStart", type = "text", @class = "col-xs-2" })
                @Html.ValidationMessageFor(m => m.events.RegStartDate)

                @Html.Label("Reg End Date", new { @class = "col-xs-2", style = "text-align:center" })
                @Html.TextBox("RegEndDate", Model.events.RegEndDate, new { @id = "regEnd", type = "text", @class = "col-xs-2" })
                @Html.ValidationMessageFor(m => m.events.RegEndDate)

                <div class="col-xs-4"></div>
            
            </div>
                

                <br />

            

            </div>
            </div>
        </div>



<script>
    $(function () {

        $('#eveStart').datetimepicker({
            dayOfWeekStart: '1',
            format: 'd/m/Y H:i'
            //onShow: function (ct) {
            //    this.setOptions({
            //        maxDate: $('#regEnd').val() ? $('#regEnd').val() : false
            //    })
            //}
        });

        $('#eveEnd').datetimepicker({
            dayOfWeekStart: '1',
            format: 'd/m/Y H:i'
            //onShow: function (ct) {
            //    this.setOptions({
            //        minDate: $('#regStart').val() ? $('#regStart').val() : false
            //    })
            //}
        });

        $('#regStart').datetimepicker({
            dayOfWeekStart : '1',
            format: 'd/m/Y H:i'
        });

        $('#regEnd').datetimepicker({
            dayOfWeekStart: '1',
            format: 'd/m/Y H:i'
        });

        $("#maxCount").spinner();
    });
</script>