﻿@model  MB9.CMS.Web.Helper.DocPartViewModel



<div>
    <div class="row">
        @Html.Hidden("docPartID_Doc", Model.DocPart.ID)
        @Html.Hidden("lang", Model.Language)
        @Html.Hidden("parent.id", Model.DocPart.ParentId)
        @Html.Hidden("parent.prop", Model.DocPart.ParentProperty)
        @Html.Hidden("docType", Model.Def.DocType)
        @Html.Hidden("published", Model.DocPart.Published)

    </div>


    <div class="span12">

        @foreach (var item in Model.Definition)
        {

            var type = String.Empty;

            item.TryGetValue("type", out type);

            switch (type)
            {
                case "image":
                    {
                        @Html.Partial("_imagePartial", item)
                    }
                    break;

                case "text":
                    {
                        @Html.Partial("_textPartial", item)
                    }
                    break;

                case "list":
                    {
                        @Html.Partial("_listPartial", item)
                    }
                    break;

                case "textarea":
                case "htmltextarea":
                    {
                        @Html.Partial("_textareaPartial", item)
                    }
                    break;
                    
                case "doc":
                    {
                        @Html.Partial("_docDownloadPartial", item)
                    }
                    break;
                    
                default:
                    {
                        @Html.Partial("_textPartial", item)
                    }
                    break;
            }
                    
        }
    </div>
</div>
