﻿@model  MB9.CMS.Web.Helper.DocPartViewModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Header = "Edit Docpart :";
    ViewBag.Subheading = @Model.Def.Name;
}

<div class="container" style="width:100%">
    <div class="row">

        @if (Model.DocPart.ID > 0) 
        {
    <div class="row" style="float:right">

        @Html.DropDownList("LangSelect", Model.allLangs, Model.DocContent.Language, new { @class = "btn btn-default btn-xs dropdown-toggle" })

        <div id="languageToggle" class="btn btn-primary btn-xs">GO</div>

        <br />
    </div>
        }

    </div>

    <div class="row">


        @using (Html.BeginForm("EditEventDocPart", "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
    
            @Html.Partial("EditEventDocPartPartial", Model)
            <br />
            <br />
            
            <button type="submit" class="btn btn-xs col-sm-2">Save</button>
           
            
            <br />
        }

    </div>

</div>


<script>

    $('#languageToggle').click(function () {

        var selectedLang = $('#LangSelect').val();

        if (selectedLang != "") {
            location.href = '@(Url.Action("EditEventDocPart", "Event"))?id=' + @Model.DocPart.ID + '&lang=' + selectedLang;
        }
        else {
            alert("select a language");
        }

    });

</script>