﻿@model  MB9.CMS.Web.Areas.AdminEMS.Models.EventRegisterViewModel

@{
    ViewBag.Title = "EventRegister";
    ViewBag.Header = Model.currentEvent.Title;
    ViewBag.Subheading = "Event Registration"; 
}

<div>
    @using (Html.BeginForm("EventRegister", "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
    <div class="row">
        @Html.Hidden("EventType", Model.currentEvent.EventType)
        @Html.Hidden("eventID", Model.currentEvent.ID)
    </div>

    <div class="form-group" style="width:100%">
        <div class="well" style="padding-right:25px">

            <div class="row">
                @Html.Label("Name", new { @class = "col-xs-2" })
                @Html.TextBox("Name", Model.registerUser.Name, new { @class = "col-xs-2" })

                @Html.Label("Email ID", new { @class = "col-xs-2", style = "text-align:center" })
                @Html.TextBox("EmailID", Model.registerUser.EmailID, new { @class = "col-xs-2" })

                @Html.Label("Phone Number", new { @class = "col-xs-2", style = "text-align:center" })
                @Html.TextBox("PhoneNum", Model.registerUser.PhoneNum, new { @class = "col-xs-2" })
            </div>

            <br />

            <br />

            <div class="row">
                @Html.Label("Registration Status", new { @class = "col-xs-2" })
                @Html.TextBox("RegistrationStatus", Model.registerUser.RegistrationStatus, new { @class = "col-xs-6" })

                @Html.Label("Additional Notes", new { @class = "col-xs-2", style = "text-align:center" })
                @Html.TextArea("AddNotes", Model.registerUser.AdditionalContent, new { @class = "col-xs-2" })
            </div>

            <input type="submit" class="btn btn-xs btn-primary"/>
        </div>
    </div>
    }
</div>

