﻿@model  MB9.CMS.Web.Areas.AdminEMS.Models.EventRegisterViewModel

@{
    ViewBag.Title = "EventRegisterList";
}

<div class="form-group">

    <div class="col-sm-9" style="width:100%">
        <div class="container-fluid">

            <!-- DataTable -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Registered Users for : @ViewBag.Eventtitle <a href="@Url.Action("EventRegister", "Event", new { area = "AdminEMS", @eventID = ViewBag.EventID })" class="btn btn-primary btn-xs" style="float:right">Add Member</a>
                </div>
                <div class="panel-body">
                    <table id="dataTable_EventMembers" class="table table-striped table-hover display compact">
                        <thead>
                            <tr>
                                <th class="col-sm-1">Sl.No</th>
                                <th class="col-sm-2">Name</th>
                                <th class="col-sm-2">Email ID</th>
                                <th class="col-sm-2">Phone Number</th>
                                <th class="col-xs-2">Booking Status</th>
                                <th class="col-sm-1">Edit</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.registeredUsers)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.EmailID</td>
                                    <td>@item.PhoneNum</td>
                                    <td>@item.RegistrationStatus</td>
                                    <td>
                                        <div class="btn-group btn-group-xs">
                                            @Html.ActionLink("Edit", "EditEvent", new { @id = item.ID }, new { @class = "btn btn-default btn-xs disabled" })
                                            @Html.ActionLink("Delete", "EditEvent", new { @id = item.ID }, new { @class = "btn btn-default btn-xs disabled" })
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
