﻿@model  MB9.CMS.Web.Areas.AdminEMS.Models.EventRegisterViewModel

@{
    ViewBag.Title = "Registered Members";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Header = ViewBag.Eventtitle;
    
}


<div>
    <a href="@VirtualPathUtility.ToAbsolute("~/AdminEMS/Event/Index")" class="btn btn-primary btn-xs" style="float:left"> Back </a>
    <br />
    <br />
    <br />
</div>

<script id="eventmember-create-update-template" type="x-tmpl-mustache">

    <div class="panel panel-default">
    <div class="panel-heading">
       
        </div>
        <div class="panel-body">
            <form class="form-create-update" action="#" method="post">
                @Html.HiddenFor(model => model.EventID)
                @Html.HiddenFor(model => model.currentEvent)
                <div class="col-lg-4">
                    @Html.HiddenFor(model => model.ID, new { @Value = "{{ ID }}" })
                    
                    <div class="control-group" style="margin-top:15px">
                        @Html.LabelFor(model => model.Name)
                        <span style="float:right">
                            @Html.TextBoxFor(model => model.Name, new { @Value = "{{ Name }}" })
                           
                        </span>
                    </div>

                    <div class="control-group" style="margin-top:15px">
                        @Html.Label("Email ID")
                        <span style="float:right">
                            @Html.TextBoxFor(model => model.EmailID, new { @Value = "{{ EmailID }}" })
                        </span>
                    </div>

                    <div class="control-group" style="margin-top:15px">
                        @Html.Label("Phone Number")
                        <span style="float:right">
                            @Html.TextBoxFor(model => model.PhoneNum, new { @Value = "{{ PhoneNum }}" })
                        </span>
                    </div>

                    <div class="control-group" style="margin-top:15px">
                        @Html.Label("Registration Status")
                        <span style="float:right">
                            @*@Html.TextBoxFor(model => model.RegistrationStatusList, new { @Value = "{{ RegistrationStatus }}" })*@
                            @Html.DropDownList("RegistrationStatus", Model.RegistrationStatusList, new { @class = "dropdown btn btn-default btn-sm" })
                        </span>
                    </div>

                    <div class="control-group" style="margin-top:15px">
                        @Html.Label("Additional Notes")
                        <span style="float:right">
                            @Html.TextBoxFor(model => model.AdditionalContent, new { @Value = "{{ AdditionalContent }}" })
                        </span>
                    </div>
                    
                </div>
                <div class="form-actions" style="float:right">
                    <input name="submit" type="submit" class="btn btn-default" />
                    <a type="button" data-row="row_{{ ID }}" class="{{ Action }} btn btn-default" href="#">Cancel</a>


                </div>
            </form>
        </div>
        </div>
</script>

<script type="text/javascript">


    function MustacheParser(d) {
        var template = $('#eventmember-create-update-template').html();
        Mustache.parse(template);
        if (d != null) {
            var active = "";
            if (d.Active == true)
                active="checked"
            var rendered = Mustache.render(template, { Name: d.Name, EmailID: d.EmailID, PhoneNum: d.PhoneNum, RegistrationStatus: d.RegistrationStatus, AdditionalContent: d.AdditionalContent, ID:d.ID, EventID: d.EventID, currentEvent: d.currentEvent,  Action: "remove_edit-panel",value:"true" });
            
        }
        else {
            var rendered = Mustache.render(template, { Name: "", EmailID: "", PhoneNum: "", RegistrationStatus: "", AdditionalContent: "", Id: 0, EventID: 0, currentEvent: null, Action: "remove_add-panel", value: "true" });
        }
        return rendered;
    }

    
    function format(d) {
        var rendervalues = MustacheParser(d);
        return rendervalues;
    }

    $(document).ready(function Init_datatable() {

        var oTable = $('#datatable-regMembers').DataTable({
            "serverSide": true,
            "paging": true,
            "pagingType": "full_numbers",
            "stateSave": true,
            "ajax": "@Url.Action("RegisterListData", "Event", new { @eventID = ViewBag.EventID })",
            "processing": true,
            "ordering": false,
            "columns": [
                            { "data": "ID" },
                            { "data": "Name" },
                            { "data": "EmailID" },
                            { "data": "PhoneNum" },
                            { "data": "RegistrationStatus" },
                            {
                               "data": "ID", "render": function (data, type, full) {

                                var deleteurl = '@Url.Action("DeleteUser", "Event")' + '/' + data + '/';

                                   return '</button><button type="button" id="row_' + data + '" class="edit-dt btn btn-default btn-xs" style="margin-left:56px">Edit</button>' +
                                   '<button type="button" data-url="' + deleteurl + '" class="user-del btn btn-danger btn-xs" style="margin-left:18px">Delete'
                                  
                                            }
                            }
            ]

        });



       
        $(document).on('click', '#add', function () {

             oTable.ajax.reload();
            if ($('#add-panel').css('display') == 'none') {
                var rendervalues = MustacheParser(null);
                $('#add-panel').html(rendervalues);
                $("#add-panel").slideDown("slow");
                $('#add').hide();
            }



        });

        $(document).on('click', '.remove_add-panel', function () {

              if (!($('#add-panel').css('display') == 'none')) {
                $("#add-panel").slideUp("slow");
                 $('#add').show();
            }



        });

        $(document).on('click', '.user-del', function () {

            var url = $(this).data("url");
            var nRow = $(this).parents('tr')[0];
            $('#delpop_up').dialog({
                autoOpen: true,
                width: 600,
                buttons: {
                    "Ok": function () {

                        dleterow(url, nRow);

                        $(this).dialog("close");
                        displaynotification("deleted sucessfully");
                       
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });

            
                
                });

       
        function dleterow(url, nRow)
        {
          
            $.post(url).success(function () {

                oTable.ajax.reload();
                

            }).error(function () {
                $("#alert-info").html("Delete Failed !")
                $("#alert").show();
            });
        }

    $(document).on('click', '.edit-dt', function () {
       

        $("#add-panel").hide();
        $('#add').show();
        var tr = $(this).closest('tr');
        var row = oTable.row(tr);

        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child(format(row.data())).show();
            tr.addClass('shown');
        }

    });


    $(document).on('click', '.remove_edit-panel', function () {
   
        var row = $(this).data("row");
        $("#"+ row).trigger('click')
    });


  
    $(document).on("submit", ".form-create-update", function () {
        var postData = $(this).serializeArray();
        $.ajax(
        {
            url: '@Url.Action("CreateUpdate", "Event")',
            type: "POST",
            data: postData,
            success: function (result) {
                if (result.success != "failed") {
                    oTable.ajax.reload();
                    displaynotification("saved sucessfully");
                     $("#add-form").hide();
                    $("#add").show();
                } 
            }
        });
       
    });

       

    });


</script>


<div title="" id="delpop_up" style="display:none">
    Are you sure you want to delete this user?

</div>




<div id="add-panel" style="display:none;">

</div>


<div class="panel panel-default">
    <div class="panel-heading">
        Registered Member List

        <button type="button" class="btn btn-primary btn-xs" style="float:right;margin-top:0px" id="add">Add Member</button>
        

    </div>
    <div class="panel-body">



        <table class="table table-striped display compact" id="datatable-regMembers">
            <thead>
                <tr>
                    <th>SL.No</th>
                    <th>Name</th>
                    <th>EmailID</th>
                    <th>Phone Number</th>
                    <th>Booking Status</th>
                    <th>Actions</th>
                   

                </tr>
            </thead>
            <tbody></tbody>
        </table>
        </div>
    </div>



     

