﻿<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- Jquery-1.11.0. -->
    <script src="~/Content/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!-- DateTime Picker-->
    <script type="text/javascript" src="@Url.Content("~/Content/Plugins/datetimepicker/jquery.datetimepicker.js")"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Content/js/Plugins/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="@Url.Content("~/Content/Plugins/DataTables-1.10.2/js/jquery.dataTables.js")"></script>

    <!-- Mustache -->
    <script src="~/Content/Plugins/Mustache/js/mustache.js"></script>

    <!-- Jquery-UI -->
    <script src="~/Content/Plugins/uibootsrap/jquery-ui.js"></script>

    <!-- Moment JavaScript-->
    <script src="~/Content/Plugins/calendar/moment.min.js"></script>

    <!-- Jquery Calendar-->
    <script src="~/Content/Plugins/calendar/fullcalendar.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Content/js/sb-admin-2.js"></script>
    <script src="@Url.Content("~/Content/cms/cms.js")"></script>

    <!-- El FInder -->
    <script type="text/javascript" src="@Url.Content("~/Content/Plugins/elfinder/js/elfinder.min.2.1.js")"></script>

    <!-- Tiny MCE -->
    <script type="text/javascript" src="@Url.Content("~/Content/Plugins/tinymce/js/tinymce/tinymce.min.js")"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea.htmleditor",
            menubar: false,
            // statusbar: false,
            file_browser_callback: elFinderBrowser,
            theme: "modern",
            plugins: [
                "advlist autolink lists link charmap",
                "wordcount visualblocks visualchars image code",
                "nonbreaking save contextmenu directionality",
                "textcolor colorpicker textpattern"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code"
        });

        function elFinderBrowser(field_name, url, type, win) {
            tinymce.activeEditor.windowManager.open({
                file: '@Url.Action("ShowPicker", "Files", new { area="" })',
                title: 'Select Image',
                width: 900,
                height: 450,
                resizable: 'yes'
            }, {
                setUrl: function (url) {
                    win.document.getElementById(field_name).value = url.url;
                }
            });
            return false;
        }
    </script>

    <!-- Bootstrap Treeview -->
    <script type="text/javascript" src="@Url.Content("~/Content/Plugins/treeview/js/bootstrap-treeview.js.min.2.1.js")"></script>

    <script>
        $('#tree').treeview({
            // The naming convention for callback's is to prepend with `on`
            // and capitalize the first letter of the event name
            // e.g. nodeSelected -> onNodeSelected
            onNodeSelected: function (event, data) {
                // Your logic goes here
            }
            });
        
    </script>

    <!-- CSS -->

    <!-- Jquery Ui Bootstrap-->
    <link href="~/Content/Plugins/uibootsrap/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link href="~/Content/Plugins/uibootsrap/jquery.ui.1.10.0.ie.css" rel="stylesheet" />
    @*<link href="~/Content/themes/theme2/css/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <link href="~/Content/themes/theme2/css/custom-theme/jquery-ui-1.10.3.theme.css" rel="stylesheet">
    <link href="~/Content/themes/theme2/css/custom-theme/jquery.ui.1.10.3.ie.css" rel="stylesheet">*@

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Date Time Picker-->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Plugins/datetimepicker/jquery.datetimepicker.css" />

    <!-- MetisMenu CSS -->
    <link href="~/Content/css/Plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Data table-->
    <link rel="stylesheet" type="text/css" href="~/Content/Plugins/DataTables-1.10.2/css/jquery.dataTables.css">
    @*<link href="~/Content/css/jquery.dataTables.css" rel="stylesheet">*@

    <!-- JQuery Calendar-->
    <link href="@Url.Content("~/Content/Plugins/calendar/fullcalendar.min.css")" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom MB9 CSS -->
    <link href="~/Content/Site-MB9.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- ElFinder -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Plugins/elfinder/css/elfinder.min.2.1.css" />
    @*<link rel="stylesheet" type="text/css" media="screen" href="~/Content/Plugins/elfinder/css/smoothness-1.8.23/jquery-ui-1.8.23.custom.css" />*@



    <title>@ViewBag.Title</title>

</head>


<body>

    <div id="wrapper">



        <!-- Navigation Top bar -->
        @Html.Partial("_TopBar")


        <!--popup-->
        @*@Html.Partial("_Pop_ups")*@

        <!--Menu-->
        @Html.Partial("_SideBarMenu")

        <!-- Page Content -->
        <div id="page-wrapper" style="min-height: 926px;">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">
                        @ViewBag.Header<small> @ViewBag.Subheading </small>
                    </h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

                <!--Notifications-->
                @*@Html.Partial("_Notifications")*@

    <!--Main body-->
    @RenderBody()

            </div>
            <!-- /#page-wrapper -->
            <!--Page footer-->
            

        </div>
        <!-- /#wrapper -->
    </div>
    @Html.Partial("_PageFooter")
</body>
</html>