﻿<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="margin-bottom: 0; font-weight: bold; min-height: 25px; color: rgb(113, 113, 114);">
    <div style="float: right;">
        Powered by Inginim Pvt Ltd
    </div>
</nav>